# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Env file
.env
.env.prod
.env.dev

# Test coverage directory
coverage/
