<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333437725100-2p1mbp62nn8pklc5lv2lgbrnm7g7hn3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333437725100-2p1mbp62nn8pklc5lv2lgbrnm7g7hn3n</string>
	<key>API_KEY</key>
	<string>AIzaSyBMkEuCELz3ERI8Qih2epyjmDnzCuxv4dw</string>
	<key>GCM_SENDER_ID</key>
	<string>333437725100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueprint.app</string>
	<key>PROJECT_ID</key>
	<string>polletask-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>polletask-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333437725100:ios:dc5e872c56140c38b03209</string>
	<key>DATABASE_URL</key>
	<string>https://polletask-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>